#lms-title {
    font-size: 8vmin;
    text-align: center;
}

#emoji {
    /* border: 2px solid black; */
    position: relative;
    text-align: center;
    font-size: 50vmin;
}

#btn {
    position: relative;
    text-align: center;
}

#heading {
    font-size: 25px;
    text-align: left;
}

form {
    line-height: 15px;
}

label {
    white-space: pre-line;
}